.rp-annotation {
  position: absolute !important;
  font-size: 10px !important;
  padding: 0 5px !important;
  outline: 1px solid orange !important;
  background: yellow !important;
  color: #000 !important;
  height: auto !important;
  width: auto !important;
}

.rp-annotation[hidden] {
  display: none !important;
}

/* Rows */
#rp-table tr {
  background-color: #fff;
}

#rp-table tr.rp--is-not-printed {
  background-color: #ffcccc;
  font-style: italic;
}

#rp-table tr.rp-collapsed {
  font-weight: bold;
}

#rp-table tr.rp-hidden {
  display: none;
}

#rp-table tr:hover {
  background-color: #ffff66;
}

/* Cells */
#rp-table th,
#rp-table td {
  padding-right: 0.5em;
  position: relative;
}

#rp-table td.rp-count {
  white-space: nowrap;
}

#rp-table td.rp-tags,
#rp-table td.rp-contexts {
  white-space: nowrap;
}

/* Row collapse toggles */
#rp-table .rp-toggle {
  font-family: monospace;
  line-height: 1em;
  margin: 0.2em 0.5em !important;
  padding: 0em 0.5em !important;
}

/* Cache details */
#rp-table details {
  margin: 0;
  border: 0;
}

#rp-table summary {
  border: 0;
  padding: 0;
}

#rp-table td > details[open] {
  border: 1px solid black;
  background: #fff;
  box-shadow: 0 0 10px #000;
  position: absolute;
  right: 0;
  z-index: 1;
  padding: 5px 10px;
  font-weight: initial;
}

#rp-table details[open] > summary {
  border-bottom: 3px solid #ccc;
}

.rp-cache-details .rp-cache-details-label {
  display: none;
}

.rp-cache-details[open] .rp-cache-details-label {
  display: inline;
}

.rp-cache-details .rp-list-heading {
  font-weight: bold;
}

.rp-cache-details ul {
  margin: 0;
  padding-inline-start: 20px;
}

.rp-cache-details .rp-list-inherited {
  list-style: none;
  margin: 0;
  padding: 0;
}
