<details class="rp-cache-details">
  <summary>{{ title }} ({{ specified_items|length }}<span class="rp-cache-details-label"> {{ 'specified'|t }} </span>/<span
      class="rp-cache-details-label"> </span>{{ inherited_items|length }}<span class="rp-cache-details-label"> {{ 'inherited'|t }}</span>)</summary>
  {% if specified_items %}
    <div class='rp-list-heading'>{{ 'Specified'|t }}</div>
    <ul class='rp-list-specified'>
      {% for item in specified_items %}
        <li class="rp-specified-item">{{ item }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if inherited_items %}
    <div class='rp-list-heading'>{{ 'Inherited'|t }}</div>
    <ul class='rp-list-inherited'>
    {% for item in inherited_items %}
        <li class="rp-inherited-item">{{ item }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</details>
